// Core Variables

// orange variant
$primary: #ff6400;
$primary-sec: #f58c1e;
$primary-light: #ffefe2;
$primary-dark: #ffc107;

// blue variant
$primary-blue: #192383;
$blue-secondary: #3062a1;
$blue-20: #cddaea;
$blue-60: #7097c7;
$secondary: #1253a4;
$dark-blue: #11417c;
$dark-blue-1: #1253a4;

// Gradient variant
$primary-gradient: linear-gradient(180deg, #ff9738 0%, #ff8743 100%), #ff9738;
$primary-gradient-alt: linear-gradient(180deg, #ff8743 0%, #ff9738 100%), #ff9738;
$primary-gradient-0deg: linear-gradient(0deg, #ff8b41, #ff8b41), #ff9738;

$secondary-light: #b3caef;
$secondary-light-2: #dfeafb;
$secondary-light-3: #cddaea;
$secondary-color: #f58b1e;

$amber-light: #fdf0cc;
$amber-light-2: #fffef2;

$tertiary: #e3e3e3;
$tertiary-light: #f6f9ff;
$tertiary-mid-light: #f5f5fa;
$blue-gray-75: #ebf3ff;
$tertiary-dark: #d8e7fd;
$blue-gray-100: #d3dded;

$text-dark: #2f2f2f;
$text-light: #707070;
$text-gray: #6d6e71;
$text-gray-1: #5d7183;
$text-dark-1: #161719;

$input-dark: #202020;
$input-light: #889bb9;

$error: #fd3c4a;
$error-bg: #ffe5e7;
$warning: #ff9738;
$warning-bg: #fdeaca;
$info: #1253a4;
$info-bg: #cddaea;
$success-bg: #66be88;

$orange: #fe8e00;
$soft-orange: #efd1bb;
$soft-orange-2: #fbe6c6;
$orange-alt: #ffa000;
$orange-light: #ffdcc0;
$orange-mid-light: #faa132;
$orange-highlight: #ffce3c;
$orange-secondary-highlight: #fff3cf;

$dark-orange: #ff8b41;
$light-orange: #ffefe2;

$secondary-orange: #ff9738;
$secondary-orange-dark: #f87300;
$secondary-orange-dark-1: #ff6400;
$primary: #ff9738;
$primary-dark: #f87300;

$white: #ffffff;
$white-secondary: #f6f8ff;
$white-tertiary: #fafafa;

$grey-second: #efefef;
$grey-three: #d8d8d8;

$gray: #9fa3aa;
$soft-gray: #d3d2d2;
$secondary-soft-gray: #dde1ea;
$gray-mid: #5b5858;

$aqua: #94c9de;
$aqua-35: rgba(148, 201, 222, 0.35);
$aqua-40: rgba(148, 201, 222, 0.4);

$green-lime-light: #e7f5cf;
$soft-green-lime: #eeffe0;

$green-dark: #2d412e;
$green-mid: #45aa6c;
$green-400: #66be88;

$turqoise: #02af84;
$turqoise-mid: #25d366;
$turqoise-sec-mid: #1daa8d;
$turqoise-dark: #00beb7;

$red: #e93d3d;
$red-secondary: #ff6f6f;
$red-tertiary: #fd5900;

$red-400: #d5596c;
$soft-rose: #ffe6ea;
$soft-rose-2: #ffc9c9;

$navy-mid: #4c70ac;
$navy-sec-mid: #6c88aa;
$navy-dark: #323c47;
$navy-mid-ter: #1253a4;

$black: #000000;
$secondary-black: #19181a;
$secondary-black-2: #1b1b1b;
$tertiary-black: #03121a80;
$tertiary-black-2: #2d2d2d;
$tertiary-black-3: #6d6e71;
$tertiary-black-4: #555454;
$tertiary-black-5: #6d6e71;

$dark-gray: #9597a1;
$dark-grey-1: #d9d9d9;
$dark-grey-2: #d3dded;
$light-grey: #cddaea;

$sky-blue: #cae4ee;

$dark-80: rgba(45, 45, 45, 0.8);
$light-20: #e3e5e5;
$red-error: #fd5662;